@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fundo-cinza: #F1F1F1;
    --verde-escuro: #10340C;
    --bege: #C5AE7B;
    --vermelho: #8B0A0A;
    --dourado: #C5AE7B;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

h1{
    font-weight: var(--bold) !important;
    color: var(--verde-escuro);
    font-size: 1rem !important;
}

h2{
    font-weight: var(--semibold) !important;
    color: var(--dourado);
    font-size: 0.9rem !important;
}

html, body{
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--fundo-cinza) !important;
}

label{
    font-size: .7rem;
    color: var(--verde-escuro);
    font-weight: 500;
}

img{
    scale: 1.2;
}

textarea{
    resize: none !important;
}

input, select, textarea{
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 300;
    height: 30px;
    border: 1px solid #000000;
    font-size: 12px !important;
}

a:hover{
    color: var(--verde-escuro) !important;
}

.botao{
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: .7rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    width: 55%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-primario{
    background-color: var(--verde-escuro);
}

.botao-secundario{
    background-color: var(--bege);
}

.link{
    color: var(--verde-escuro);
    font-size: .7rem;
    font-weight: 500;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    gap: 8%;
    box-shadow: 0px 0px 5.5px #bfbfbf;
    height: 80%;
}

.container-secundario{
    display: none;
}

.container-formulario {
    background-color: white;
}

.container-maior{
    flex-direction: column;
    border-radius: 20px;
}

@media (min-width: 750px){

    .botao-secundario{
        background-color: white;
        color: var(--verde-escuro);
        font-weight: 500;
    }

    .container-secundario{
        background-color: var(--bege);
        display: block;
        display: flex;
    }

    .container{
        width: 70% !important;
        height: 85%;
    }

    .container-maior > .botao.botao-secundario {
        display: none;
    }

    .container-maior{
        flex-direction: row;
        border-radius: 20px;
    }

    img{
        scale: 1.5;
    }
}

@media (min-width: 1200px) {
    .container-maior {
        width: 60%;
    }
}

.nav-bar{
    border-radius: 0px 0px 20px 20px;
}

.titulo-saldo{
    font-weight: var(--medium);
}

.valor-saldo{
    font-weight: var(--semibold);
    color: var(--verde-escuro);
}

.offcanvas.offcanvas-start{
    width: 40% !important;
}

.navbar-expand-lg .offcanvas{
    flex-grow: 0 !important;
}

.container-valores{
    border-radius: 12px;
    background-color: white;
}

.container-movimentacao label{
    font-weight: var(--medium);
    font-size: 0.7rem;
}

.container-resumo label{
    font-weight: var(--medium);
    font-size: 0.8rem;
}

.valor-previsao label{
    color: var(--verde-escuro);
}

.valor-gastos label{
   color: var(--vermelho)
}

#btn-float {
    position: fixed;
    bottom: 10%;
    right: 13%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}